# ignore LaTeX output files
*.aux
*.lof
*.log
*.log
*.lot
*.out
*.toc
*.bbl
*.blg
*.xwm
*.pyrc
*.orig
*.pdf
*.swp
*.sw*
Boulder1/run40/
Boulder1/run42/
Boulder1/run44/
Boulder1/run45/
Boulder1/run46/
Boulder1/postpro/
Boulder1/.DS_store
Boulder1/Autonomic.zip
Boulder1/tags
Boulder1/#*
